.text-center {
  font-size: 2em !important;
}

.cf {
  *zoom: 1;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

h1.chat-title {
  position: fixed;
  width: 75%;
  box-shadow: 0 4px 2px -2px #3681ac;
  display: block;
  font-family: "Roboto", sans-serif;
  color: #3681ac;
}

body .wrapper h1 {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 2em;
  background: #26272bcb !important;
  padding: 10px;
}

body .wrapper .speechbubble {
  background-color: #26272b;
  margin: 5%;
  width: 70% !important;
  color: #9fa2a7;
  font-size: 0.8em;
  line-height: 1.75;
  padding: 40px;
  cursor: default;
}

body .wrapper .speechbubble span.user-i {
    font-size: .8em !important;
    margin-bottom: 10px;
}

body .wrapper .speechbubble.recived {
  border-left: 5px solid;
  border-color: rgb(42, 173, 151);
}

body .wrapper .speechbubble.recived:after {
  content: "";
  margin-top: -30px;
  padding-top: 0px;
  position: relative;
  bottom: -70px;
  left: 20px;
  border-width: 30px 0 0 30px;
  border-style: solid;
  border-color: #26272b transparent;
  display: block;
  width: 0;
}

body .wrapper .speechbubble.sent {
  border-right: 5px solid;
  border-color: #ff8750;
}

body .wrapper .speechbubble.sent:after {
  content: "";
  margin-top: -30px;
  padding-top: 0px;
  position: relative;
  bottom: -70px;
  left: 80%;
  border-width: 30px 30px 0 0;
  border-style: solid;
  border-color: #26272b transparent;
  display: block;
  width: 0;
}

body .wrapper .speechbubble p {
  font-size: 1.6em !important;
}

body .wrapper .speechbubble p:before {
  content: "“";
  font-family: Georgia;
  font-size: 40px;
  line-height: 0;
  display: inline-block;
  display: -webkit-inline-box;
}
body .wrapper .speechbubble .username {
  display: inline;
  font-style: italic;
  float: right;
}
body .wrapper .speechbubble .username:before {
  content: "- ";
}

body {
    background-image: url("navback.png") !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right 7vh !important;  
    background-color: #fff;
    box-shadow: inset 0 0 15px 7px #00000083;
}