@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

*:not(i) {
  font-family: "Lato", sans-serif !important;
}

nav {
  background: transparent !important;
}

body {
  background: #eee;
}

form {
  /*background: #eee !important;
  background-size: stretch !important;
  box-shadow: 0 0 10px #9a9a9a99;*/
  padding: 20px;
}

.person-li,
.person-li * {
  transition: all 0.2s ease-in-out;
}

.person-li:hover span {
  font-weight: bold !important;
  color: #888 !important;
}

.person-spn {
  color: white;
}

.person-li:hover {
  cursor: pointer;
}

.container-cstm {
  position: absolute;
  left: 25vw;
  top: 7vh;
  height: 93vh;
  width: 75vw;
  background-color: transparent !important;
  box-shadow: 0px -5px 7px #2c2c2c77;
}

.footer-send {
  position: fixed !important;
  left: 25vw !important;
  bottom: 0 !important;
  width: 75vw;
  padding: 0;
  margin: 0;
}

.msg-input {
  background-color: #555 !important;
  color: #eee !important;
}

form.loginView {
  position: absolute;
  top: 5vw;
  left: 30%;
  width: 40%;
}

.w3-ul {
  background-color: #0000006e !important;
}

a.item:hover:not(.not) {
  border-bottom: 2px solid black !important;
}

a.not:hover {
  cursor: default !important;
}

i.rmv-btn:hover {
  cursor: pointer;
}

.tooltip {
  z-index: 1000;
}
.tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
}

.rnd-btn {
  width: 4em !important;
  height: 4em !important;
  margin: 0 !important;
  padding: 20px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 10px !important;
  border-radius: 100% !important;
}

.rnd-btn > * {
  font-size: 2em !important;
}

img.list-img {
  width: 3vw !important;
  height: 3vw !important;
}