nav {
  background-image: url('navback.png') !important;
  background-size: 100% 100%;
}

.person-spn {
  color: white;
}


.person-li:hover {
  cursor: pointer;
}

.container-cstm {
  position: absolute;
  left: 25vw;
  top: 0;
  height: 100vh;
  width: 75vw;
  background-image: linear-gradient(#0F2027, #2C5364) !important;
}

.footer-send {
  position: fixed !important;
  left: 25vw !important;
  bottom: 0 !important;
  width: 75vw;
}

.msg-input {
  background: transparent !important;
  border-top: rgba(255, 255, 255, 0.452) 1px solid !important;
  outline: none !important;
}


.rnd-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}